.message {
    display: flex;
    width: auto;
    justify-content: flex-start;
}

.message .avatarImg {
    width: 60px;
    height: 60px;
    border-radius: 25px;
    margin-right: 25px;
    align-self: flex-end;
}

.message .wrapper {
    position: relative;
}

.message .wrapper .messageBlock {
    padding: 20px;
    width: 340px;
    height: 90px;
    background-color: skyblue;
    border-radius: 8px 8px 8px 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.message .wrapper .messageBlock::after {
    content: '';
    position: absolute;
    left: -22px;
    bottom: 0;
    border: 15px solid transparent;
    border-right: 10px dashed skyblue;
    border-bottom: 10px dashed skyblue;
}

.message .messageBlock .name {
    color: darkblue;
}

.message .messageBlock .text {
    color: white;
}

.message .messageBlock .time {
    position: absolute;
    top:100px;
    align-self: flex-end;
    color: white;
    opacity: 0.3;

}